# Ignore everything in the S1_Preprocessing step
S1_Preprocessing/Raw_data/*
S1_Preprocessing/Processed/*
S1_Preprocessing/not_needed/
S1_Preprocessing/Human_footprint/*
S1_Preprocessing/wc10/*

# Ignore everything in the S2_get_beta_diversity step
S2_get_beta_diversity/pre_processed/
S2_get_beta_diversity/betadiv_input/*
S2_get_beta_diversity/betadiv_output/*

# Ignore files and folders in the S3_get_best_predictors step
S3_get_best_predictors/**/*.rds

# Ignore files and folders in the S4_run_BBGDM step
S4_get_best_predictors/**/*.rds

# Ignore files and folders in the S5_Null_models step
S5_Null_models/**/*.rds

# Ignore files and folders in the S6_Synthesis_model step
#S6_Synthesis_model/data/*.xlsx

# Ignore everything in the S7_Model_outputs_figures_and_tables expect for the folder
S7_Model_outputs_figures_and_tables/*
!S7_Model_outputs_figures_and_tables/**/

*.hdr
*.bil
*.tif
*.ovr
*.xml
*.tfw
S1_Preprocessing/Miscellaneous/not_needed/hiate_author_list.xlsx
S1_Preprocessing/Miscellaneous/not_needed/Supplementary Table S2.xlsx
S1_Preprocessing/Miscellaneous/wc10/bio_10m_bil.zip
*.rds
*.pdf
*.png
S7_Model_outputs_figures_and_tables/model/model_06006c26b1994385ed53fb9d4c0068bc
S7_Model_outputs_figures_and_tables/model/model_06006c26b1994385ed53fb9d4c0068bc.stan
S7_Model_outputs_figures_and_tables/model/model_06182402e08425acf182df8182d1348c
S7_Model_outputs_figures_and_tables/model/model_06182402e08425acf182df8182d1348c.stan
S7_Model_outputs_figures_and_tables/model/model_07887d471a4de0c420bcae95f510b2ec
S7_Model_outputs_figures_and_tables/model/model_07887d471a4de0c420bcae95f510b2ec.stan
S7_Model_outputs_figures_and_tables/model/model_07ea99c607b5b01d36dcea89a9ef3990.stan
S7_Model_outputs_figures_and_tables/model/model_0a72b28cbb909d76a44de10cbc71e244.stan
S7_Model_outputs_figures_and_tables/model/model_0b518b09c72412c411c124ca171ab288.stan
S7_Model_outputs_figures_and_tables/model/model_0c04e18eb2700b580fe6e1d3d0d23c8a.stan
S7_Model_outputs_figures_and_tables/model/model_0c90a560f4aab986ca630ca05936dd62.stan
S7_Model_outputs_figures_and_tables/model/model_147db2aa83a8dca2766293c6c773b321
S7_Model_outputs_figures_and_tables/model/model_147db2aa83a8dca2766293c6c773b321.stan
S7_Model_outputs_figures_and_tables/model/model_2278fa3641bc8b3bc550f28c0d621a76
S7_Model_outputs_figures_and_tables/model/model_2278fa3641bc8b3bc550f28c0d621a76.stan
S7_Model_outputs_figures_and_tables/model/model_280324d53faa34003daae0a99a9adc25.stan
S7_Model_outputs_figures_and_tables/model/model_3537117f71bba9a97ac783994200615d
S7_Model_outputs_figures_and_tables/model/model_3537117f71bba9a97ac783994200615d.stan
S7_Model_outputs_figures_and_tables/model/model_36c954eab4170995b451ebbf88b9e75e
S7_Model_outputs_figures_and_tables/model/model_36c954eab4170995b451ebbf88b9e75e.stan
S7_Model_outputs_figures_and_tables/model/model_39c6d6d7333be2c5a274bdd99a1098ff.stan
S7_Model_outputs_figures_and_tables/model/model_3a5c8cb87c9c933d9995cdeafbb6b5c8
S7_Model_outputs_figures_and_tables/model/model_3a5c8cb87c9c933d9995cdeafbb6b5c8.stan
S7_Model_outputs_figures_and_tables/model/model_3ad3f67c09beb41496bb0c16f5ed2702
S7_Model_outputs_figures_and_tables/model/model_3ad3f67c09beb41496bb0c16f5ed2702.stan
S7_Model_outputs_figures_and_tables/model/model_3c2d2f154f546904ddc6759659c9678e.stan
S7_Model_outputs_figures_and_tables/model/model_46a8a499a6a6186aa86c3a9ccb479982
S7_Model_outputs_figures_and_tables/model/model_46a8a499a6a6186aa86c3a9ccb479982.stan
S7_Model_outputs_figures_and_tables/model/model_4973420b663b6fffb726598ffb9c833a
S7_Model_outputs_figures_and_tables/model/model_4973420b663b6fffb726598ffb9c833a.stan
S7_Model_outputs_figures_and_tables/model/model_4f45e773e5f4afa9dad892f9f040a68d
S7_Model_outputs_figures_and_tables/model/model_4f45e773e5f4afa9dad892f9f040a68d.stan
S7_Model_outputs_figures_and_tables/model/model_522b3001581fc389f487e11fa612ae1d
S7_Model_outputs_figures_and_tables/model/model_522b3001581fc389f487e11fa612ae1d.stan
S7_Model_outputs_figures_and_tables/model/model_607f771312964d62912f9e6c7a973f7d
S7_Model_outputs_figures_and_tables/model/model_607f771312964d62912f9e6c7a973f7d.stan
S7_Model_outputs_figures_and_tables/model/model_62e24ddc7af016c2e6ab00e337d12438
S7_Model_outputs_figures_and_tables/model/model_62e24ddc7af016c2e6ab00e337d12438.stan
S7_Model_outputs_figures_and_tables/model/model_66174c76b8f014088fbf70294ed96255
S7_Model_outputs_figures_and_tables/model/model_66174c76b8f014088fbf70294ed96255.stan
S7_Model_outputs_figures_and_tables/model/model_68894da06757b845856a97c87e32ef75.stan
S7_Model_outputs_figures_and_tables/model/model_6c4eace5311f447b30277f87c45e4f2a
S7_Model_outputs_figures_and_tables/model/model_6c4eace5311f447b30277f87c45e4f2a.stan
S7_Model_outputs_figures_and_tables/model/model_730ac91eae862742c24f57260c7fd41d.stan
S7_Model_outputs_figures_and_tables/model/model_731aef7738dbde223fb2c31740839d7f
S7_Model_outputs_figures_and_tables/model/model_731aef7738dbde223fb2c31740839d7f.stan
S7_Model_outputs_figures_and_tables/model/model_75ce2666671e4cc37d852ceefdbdf02e
S7_Model_outputs_figures_and_tables/model/model_75ce2666671e4cc37d852ceefdbdf02e.stan
S7_Model_outputs_figures_and_tables/model/model_772554b76359830da2ef85bd2f5ab1af.stan
S7_Model_outputs_figures_and_tables/model/model_7d6411d701072be3455c047ffb0ef9d7
S7_Model_outputs_figures_and_tables/model/model_7d6411d701072be3455c047ffb0ef9d7.stan
S7_Model_outputs_figures_and_tables/model/model_87f199cfa4be7acda292f6b50e12f49e
S7_Model_outputs_figures_and_tables/model/model_87f199cfa4be7acda292f6b50e12f49e.stan
S7_Model_outputs_figures_and_tables/model/model_920caf332431dc1ffc4fb678e64a8fe0
S7_Model_outputs_figures_and_tables/model/model_920caf332431dc1ffc4fb678e64a8fe0.stan
S7_Model_outputs_figures_and_tables/model/model_94ec374d6cc2fd0c000069f4e8f00a50
S7_Model_outputs_figures_and_tables/model/model_94ec374d6cc2fd0c000069f4e8f00a50.stan
S7_Model_outputs_figures_and_tables/model/model_9ac253b6ec73df5f50d18237580b40c5
S7_Model_outputs_figures_and_tables/model/model_9ac253b6ec73df5f50d18237580b40c5.stan
S7_Model_outputs_figures_and_tables/model/model_9adf8aa5633e7be237af63f153dd0af9.stan
S7_Model_outputs_figures_and_tables/model/model_a3aba93f557af2d431791ae0e1bb55ed
S7_Model_outputs_figures_and_tables/model/model_a3aba93f557af2d431791ae0e1bb55ed.stan
S7_Model_outputs_figures_and_tables/model/model_a6cd4b416d82feb0c46c362965aea72e
S7_Model_outputs_figures_and_tables/model/model_a6cd4b416d82feb0c46c362965aea72e.stan
S7_Model_outputs_figures_and_tables/model/model_ac01bd1ed6ba89fdb7d0b053e0def396
S7_Model_outputs_figures_and_tables/model/model_ac01bd1ed6ba89fdb7d0b053e0def396.stan
S7_Model_outputs_figures_and_tables/model/model_aeede2dd435a6f5c43c0ec3aecac1578
S7_Model_outputs_figures_and_tables/model/model_aeede2dd435a6f5c43c0ec3aecac1578.stan
S7_Model_outputs_figures_and_tables/model/model_b9643c94494308b6f6cc6355b99d1804.stan
S7_Model_outputs_figures_and_tables/model/model_b9b3959b1b313121b214aef1a4b81ba9.stan
S7_Model_outputs_figures_and_tables/model/model_c02aba6b6a78e4e088c2100bc482fa62
S7_Model_outputs_figures_and_tables/model/model_c02aba6b6a78e4e088c2100bc482fa62.stan
S7_Model_outputs_figures_and_tables/model/model_c0e16b35412ed3b1c0cbd9581b02fab0
S7_Model_outputs_figures_and_tables/model/model_c0e16b35412ed3b1c0cbd9581b02fab0.stan
S7_Model_outputs_figures_and_tables/model/model_c1a04401519aa47902d63ba04d7a7e19
S7_Model_outputs_figures_and_tables/model/model_c1a04401519aa47902d63ba04d7a7e19.stan
S7_Model_outputs_figures_and_tables/model/model_c36f3770464566085ecb45b68ad77b20
S7_Model_outputs_figures_and_tables/model/model_c36f3770464566085ecb45b68ad77b20.stan
S7_Model_outputs_figures_and_tables/model/model_cb40280742b61307125312885b4598b9
S7_Model_outputs_figures_and_tables/model/model_cb40280742b61307125312885b4598b9.stan
S7_Model_outputs_figures_and_tables/model/model_cde4588d4c5db589d135ed4517a97687
S7_Model_outputs_figures_and_tables/model/model_cde4588d4c5db589d135ed4517a97687.stan
S7_Model_outputs_figures_and_tables/model/model_cfd4d83d3d0f222a151604f0b45e2ec2
S7_Model_outputs_figures_and_tables/model/model_cfd4d83d3d0f222a151604f0b45e2ec2.stan
S7_Model_outputs_figures_and_tables/model/model_d049a5dbade291411ca056e2a707b9f7
S7_Model_outputs_figures_and_tables/model/model_d049a5dbade291411ca056e2a707b9f7.stan
S7_Model_outputs_figures_and_tables/model/model_d5b942642cfe04cd7818f2e952146913
S7_Model_outputs_figures_and_tables/model/model_d5b942642cfe04cd7818f2e952146913.stan
S7_Model_outputs_figures_and_tables/model/model_d61554874e83a201f497b337b2dd0491
S7_Model_outputs_figures_and_tables/model/model_d61554874e83a201f497b337b2dd0491.stan
S7_Model_outputs_figures_and_tables/model/model_e00e978bc7b7280884570a35d1b3d7e8
S7_Model_outputs_figures_and_tables/model/model_e00e978bc7b7280884570a35d1b3d7e8.stan
S7_Model_outputs_figures_and_tables/model/model_e4d74c0709227d165c083440758dec21.stan
S7_Model_outputs_figures_and_tables/model/model_f068392bc3b1f454fb5bada751d91513
S7_Model_outputs_figures_and_tables/model/model_f068392bc3b1f454fb5bada751d91513.stan
S7_Model_outputs_figures_and_tables/model/model_f0899d09ddbfc34ea04e28afa8b334c9
S7_Model_outputs_figures_and_tables/model/model_f0899d09ddbfc34ea04e28afa8b334c9.stan
S7_Model_outputs_figures_and_tables/model/model_f1648f2534e97f5348a86b62e9a35017.stan
S7_Model_outputs_figures_and_tables/model/model_f1d195179b15a0079017d16a6695a0b7.stan
S7_Model_outputs_figures_and_tables/model/model_f22d27c6c7aca57a1e253548f7cbc18b
S7_Model_outputs_figures_and_tables/model/model_f22d27c6c7aca57a1e253548f7cbc18b.stan
S7_Model_outputs_figures_and_tables/model/model_f6354f4c6e507732fa52c32738951a7b
S7_Model_outputs_figures_and_tables/model/model_f6354f4c6e507732fa52c32738951a7b.stan
S7_Model_outputs_figures_and_tables/model/model_f64281f33246489794472abbdc7c3661
S7_Model_outputs_figures_and_tables/model/model_f64281f33246489794472abbdc7c3661.stan
S7_Model_outputs_figures_and_tables/model/model_fb83f0549c052e87457fcb59c4b89549.stan
S7_Model_outputs_figures_and_tables/model/model_fd1f08c15adcf82fd50ddc1dbbe4522f.stan
S7_Model_outputs_figures_and_tables/model/shape/model_d049a5dbade291411ca056e2a707b9f7
S7_Model_outputs_figures_and_tables/model/shape/model_d049a5dbade291411ca056e2a707b9f7.stan
