# Ignore everything by default
*

# Keep directory structure
!*/

# Keep gitignore files
!.gitignore
!_2.gitignore

# Keep documentation
!README
!README.*
!readme
!readme.*

# Keep analysis/source files
!*.R
!*.r
!*.Rmd
!*.rmd
!*.qmd

# Keep common output/data artifacts ignored
*.xlsx
*.xls
*.csv
*.tsv
*.rds
*.RData
*.Rhistory
*.pdf
*.png
*.jpg
*.jpeg
*.tif
*.tiff
*.zip
*.gz
*.tar
*.log# Ignore everything by default
*

# Keep directory structure
!*/

# Keep gitignore files
!.gitignore


# Keep documentation
!README
!README.*
!readme
!readme.*

# Keep analysis/source files
!*.R
!*.r
!*.Rmd
!*.rmd
!*.qmd

# Keep common output/data artifacts ignored
*.xlsx
*.xls
*.csv
*.tsv
*.rds
*.RData
*.Rhistory
*.pdf
*.png
*.jpg
*.jpeg
*.tif
*.tiff
*.zip
*.gz
*.tar
*.log